<plugin name='debug' version='1.0.2'>
  <author>Marc Palmer</author>
  <authorEmail>marc@anyware.co.uk</authorEmail>
  <title>Provides debug tools for development mode</title>
  <description>
    Provides automatic logging of request processing times, request parameters, headers, session info 
    etc both to the log and also on demand within a GSP using custom GSP tags.
    </description>
  <documentation>http://grails.org/Debug+Plugin</documentation>
  <resources>
    <resource>DebugFilters</resource>
    <resource>DebugUrlMappings</resource>
    <resource>DebugController</resource>
    <resource>DebugService</resource>
    <resource>DebugTagLib</resource>
  </resources>
</plugin>