<plugin name='apache-camel' version='0.4'>
  <author>Tony Baines	</author>
  <authorEmail>tony.baines.1@gmail.com</authorEmail>
  <title>Integrate Apache Camel into Grails</title>
  <description>Use the power of Apache Camel to implement the Enterprise Integration Patterns
(EIP) in Grails applications.
</description>
  <documentation>http://grails.org/ApacheCamel+Plugin</documentation>
  <resources>
    <resource>UrlMappings</resource>
    <resource>DataSource</resource>
  </resources>
</plugin>